header{
  background-color: #DAE5E8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25vh;
}

.menu-topo{
  display: flex;
  align-items: center;
  font-size: 1.2em;
  width: 70%;
  left: 0;
}

#imgLogo{
  height: 100%;
}

.link-menu{
  color: #4B5159;
  text-decoration: none;
  padding: 10px;
  
}

.link-menu:hover{
  color: gray;
}

.menu-carrinho{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding-right: 5%;
  /* width: 15%; */
  gap: 20px;
}

.link-carrinho{
  height: 4vh;
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* celulares */  
  .menu-carrinho{
    display: flex;
    flex-direction: column;
    width: 10%;
  }
  .menu-topo{
    display: flex;
    flex-direction: column;
    width: 10px;
  }

  header{
    border: 4px solid #4b515900;
    background-color: #DAE5E8;
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-device-width : 481px) and (max-device-width : 800px) {
  /* tablets */
  .menu-carrinho{
    display: flex;
    flex-direction: column;
    width: 10%;
  }
  .menu-topo{
    display: flex;
    flex-direction: column;
    width: 10px;
  }
 
  header{ 
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-device-width : 1200px) {
  /* computadores */
  .menu-topo{
    font-size: 30px;
  }
}