.galeria-destaques{
  background-color: #DAE5E8;
  display: grid;
  grid-template: auto;
  grid-template-columns: repeat(auto-fit, 150px);
  gap: 80px;
  min-height: 80hw;
  padding: 5%;
  justify-items: center;
  justify-content: space-around;
}

.tamanho-cards{
  border: 2px solid #4b515981;
  background-color: rgba(249, 249, 249, 0.523);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
  width: 40vh;
  text-align:left;
  border-radius: 7px;
  padding: 10px;
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* celulares */  
  .galeria-destaques{
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 50px;
  }

  .tamanho-cards{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%; 
  }
}

  @media screen and (min-device-width : 481px) and (max-device-width : 800px) {
  /* tablets */
  .galeria-destaques{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 10px;
  }

  .tamanho-cards{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%; 
  }
}
  
  @media screen and (min-device-width : 801px) and (max-device-width : 1200px) {
  /* computadores */
    .galeria-destaques{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      grid-gap: 25px;
    }
    
    .tamanho-cards{
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 100%; 
    }
  }

  @media screen and (min-device-width : 1201px) {
    /* computadores */
    .galeria-destaques{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      grid-gap: 25px;
    }
    
    .tamanho-cards{
      width: 90%;
    height: 100%;
      font-size: 20px;
    }
  }